body
{
  background-image: url("image/back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
   

.head
{
height: 85px;
width: 100%;
background-color: rgb(64, 62, 100);
}
.headname{
    font: bold;

    padding-top: 1px;
    
    font: serif;
    height: 85px;
    width: 20%;
    
}
.nav-link{
    color: lavenderblush;
    
    
    font: 1em sans-serif;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
  .imp{
    background-image: url('image/prodp.jpg');
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #ff{
   background-color: rgb(119, 118, 118);
  }
  
  #log{
      size: 5em;
  }
  #card
  {
  background-image: url("image/images.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
   
  
    
  }
  #contact{

    background-image: url("image/image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     
  }
  #ff{
    background-color:   rgb(29, 29, 29);
   }
   #exp{
    
    background-image: linear-gradient(to right top, #8e8b8d, #979698, #a1a1a3, #aaacae, #b5b7b8, #b1b3b3, #acaeaf, #a8aaaa, #939696, #7f8282, #6c6f6f, #595c5c);
  }
  #log{
     background-color: rgb(101, 101, 107);
   }
   #skils{

    background-image: url("work/pln.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
   }
   #side{

    background-image: url("image/black.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  width: 5rem;
  height: 10rem;
    
   }
   #bar{

    background-image: url("work/calc.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
   }
   #skil{

    background-image: url("work/c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
   }
  
   #imge{
    height: 15rem;
     width:22rem;
     margin-top:4rem;
     background-image: linear-gradient(to right top,  #658f8f, #979698, #658f8f, #aaacae,  #658f8f, #b1b3b3, #acaeaf, #658f8f, #939696, #658f8f, #6c6f6f, #658f8f);
     border-radius: 2rem;
   }
   #myskil
   {
   background-image: url("work/4.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover
   }